* {
	margin: 0;
	box-sizing: border-box;
}

.App {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.reposList {
	padding: 20px;
	text-align: center;
	border: 2px solid black;
}

img {
	height: 200px;
	width: auto;
}
h1 {
	padding: 20px;
}

p {
	padding: 20px;
}
